In [ ]:
#regression sur movie df, avec infos sur users
# même jeu de donnée que regression_keras, mais ici on fait sur sklearn
#fonctionne avec la moitié des données (voir train_test_split), mais pas la totalité

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error

In [2]:
#Chargement de df_user
df_user=pd.read_csv('../../../dataset/data_regression/df_user.csv')

#Gestion des valeurs nulles
dico={}
for column in df_user.columns:
    if "nb_note_user" in str(column):
        dico[column]=0
    elif "avg_note_user" in str(column):
        dico[column]=df_user[column].mean()
    elif "avg_year_user" in str(column):
        dico[column]=df_user[column].mean()

df_user=df_user.fillna(value=dico)
del dico

In [3]:
#Chargement de df_user
df_note=pd.read_csv('../../../dataset/data_regression/df_note.csv', index_col=0)

/Users/Moon/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [4]:
#Join de df_user et df_note  -> df
df=df_note.merge(df_user, how='outer', on="userId")
del df_user
del df_note

In [5]:
#Join de df et df_movie 
df_movie=pd.read_csv('../../../dataset/data_regression/df_movie.csv')
df=df.merge(df_movie, how='outer', on="movieId_ref")
del df_movie
df=df.drop(["userId", "movieId_ref"], axis=1)

In [6]:
#preprocessing des données

for column in df.columns:
    scaler=MinMaxScaler()
    df[column]=scaler.fit_transform(pd.DataFrame(df[column]))
    
df.head()

,rating,time_btw_vote,rating_user_avg,rating_user_nb,action_nb_note_user,action_avg_note_user,action_avg_year_user,adventure_nb_note_user,adventure_avg_note_user,adventure_avg_year_user,...,fantasy,history,horror,romance,sci-fi,thriller,war,western,averageRating,numVotes
0,0.777778,8.824853e-08,0.806607,0.019911,0.040945,0.790598,0.680070,0.045763,0.831276,0.676023,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.864198,0.377335
1,1.000000,0.000000e+00,0.722222,0.001488,0.006299,0.666667,0.768466,0.006780,0.722222,0.784211,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.864198,0.377335
2,0.777778,2.152403e-09,0.733333,0.006751,0.020472,0.683761,0.773601,0.018644,0.686869,0.782775,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.864198,0.377335
3,0.777778,1.054678e-07,0.754386,0.003090,0.007874,0.733333,0.597727,0.011864,0.761905,0.575940,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.864198,0.377335
4,0.888889,2.582884e-08,0.773416,0.054125,0.156693,0.748744,0.836855,0.149153,0.792929,0.831758,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.864198,0.377335

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

liste=[]
for column in df.columns:
    liste.append(list(df[column]))

plt.figure(figsize=(20,20))
plt.boxplot(liste)

In [7]:
#Séparation des données train et test
data=df.drop(["rating"], axis=1)
target=df.rating
del df
X_train,X_test,y_train,y_test=train_test_split(data, target, test_size=0.1, train_size=0.4, random_state=222)
del data
del target

In [8]:
#Regression linéaire
lm=LinearRegression()
lm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [9]:
#Prédictions
y_pred=lm.predict(X_test)
y_pred_train=lm.predict(X_train)

In [11]:
#Evaluation
rmse_train=np.sqrt(mean_squared_error(y_train,y_pred_train))
rmse_test=np.sqrt(mean_squared_error(y_test,y_pred))

In [12]:
print(rmse_train)
print(rmse_test)

0.19307083281854298
0.19312660678698754

In [19]:
coef=lm.coef_
liste_colonne=range(0,76)
df=pd.DataFrame({"coefs":coef}, index=liste_colonne)
df=df.sort_values(by="coefs", ascending=False)
df

       coefs
74  0.822237
1   0.592633
0   0.376937
3   0.250802
2   0.246846
39  0.204325
27  0.168068
36  0.126613
20  0.088705
8   0.080951
4   0.070331
25  0.070163
16  0.065539
38  0.057671
29  0.056632
7   0.051801
17  0.051722
41  0.036684
15  0.024286
34  0.021234
40  0.019184
42  0.016328
13  0.015845
46  0.014162
37  0.013361
10  0.012393
21  0.011487
64  0.010503
54  0.009775
67  0.008439
..       ...
28 -0.002744
58 -0.004495
43 -0.004901
47 -0.005555
35 -0.005847
70 -0.007664
73 -0.010102
19 -0.010849
65 -0.016370
59 -0.018600
55 -0.018709
32 -0.020418
68 -0.021337
26 -0.024261
44 -0.042660
23 -0.043942
14 -0.044133
5  -0.050317
51 -0.058892
45 -0.059959
11 -0.060268
9  -0.060835
48 -0.063222
75 -0.069877
12 -0.095572
6  -0.123210
56 -0.142713
30 -0.149705
18 -0.159533
24 -0.164801

[76 rows x 1 columns]

In [ ]:
# en prenant test_size=0.05 et train_size=0.2, rmse de 0.19 pour train et test.
# en prenant test_size=0.1 et train_size=0.4, pareil
# variables les plus importantes : 
# averageRating
# rating_user_avg
# time_btw_vote
# action_nb_note_user
# rating_user_nb
# romance_nb_note_user
# family_nb_note_user
# horror_nb_note_user

In [6]:
dh=df.drop(["rating"], axis=1)
df_index=pd.DataFrame({"range":range(0,76)}, index=dh.columns)

In [7]:
df_index

                           range
time_btw_vote                  0
rating_user_avg                1
rating_user_nb                 2
action_nb_note_user            3
action_avg_note_user           4
action_avg_year_user           5
adventure_nb_note_user         6
adventure_avg_note_user        7
adventure_avg_year_user        8
animation_nb_note_user         9
animation_avg_note_user       10
animation_avg_year_user       11
biography_nb_note_user        12
biography_avg_note_user       13
biography_avg_year_user       14
comedy_nb_note_user           15
comedy_avg_note_user          16
comedy_avg_year_user          17
crime_nb_note_user            18
crime_avg_note_user           19
crime_avg_year_user           20
documentary_nb_note_user      21
documentary_avg_note_user     22
documentary_avg_year_user     23
drama_nb_note_user            24
drama_avg_note_user           25
drama_avg_year_user           26
family_nb_note_user           27
family_avg_note_user          28
family_avg_year_user          29
...                          ...
thriller_avg_note_user        46
thriller_avg_year_user        47
war_nb_note_user              48
war_avg_note_user             49
war_avg_year_user             50
western_nb_note_user          51
western_avg_note_user         52
western_avg_year_user         53
isAdult                       54
startYear                     55
runtimeMinutes                56
action                        57
adventure                     58
animation                     59
biography                     60
comedy                        61
crime                         62
documentary                   63
drama                         64
family                        65
fantasy                       66
history                       67
horror                        68
romance                       69
sci-fi                        70
thriller                      71
war                           72
western                       73
averageRating                 74
numVotes                      75

[76 rows x 1 columns]

In [18]:
df_index.index[36]

'horror_nb_note_user'